{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
    {% for x in range(lines) %}
  <p>
    <a href="{{ url_for('add', val=mov_id[x]) }}">{{ movies[x] }}</a>   <b><span>{{ date[x] }}</span></b>
  </p>
    {% endfor %}
</div>
{% endblock %}